/* default styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: rgb(142, 211, 243);
}

.text {
  width: 450px;
  height: 280px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  padding: 20px;
  box-sizing: border-box;
}

.text-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(35, 37, 35);
  border-radius: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.text textarea {
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(165, 142, 142);
}

.text textarea::placeholder {
  color: rgb(165, 142, 142);
}

.text .count-info {
  color: rgb(35, 37, 35);
  font-size: 14px;
  text-align: right;
}

@media (max-width: 575px) {
  .text {
    width: 90%;
    height: 250px;
    padding: 10px;
  }
  .text-container {
    padding: 10px;
  }
}